/* Estilos generales */
.slider {
    position: relative;
    overflow: hidden;
}

.slider-items {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-item {
    flex-shrink: 0;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-control {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* Estilos específicos para el botón previo */
.slider-control[data-slide="prev"] {
    transform: rotate(180deg);
}

/* Estilos de la diapositiva activa */
.slider-items[data-slide="0"] {
    transform: translateX(0%);
}

.slider-items[data-slide="1"] {
    transform: translateX(-100%);
}

.slider-items[data-slide="2"] {
    transform: translateX(-200%);
}